<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jobs | Boston Software Jobs</title>
</head>
<body>
    <h1>    </h1>
    <ul>
        <% names.forEach((company_name) => { %>
        <li>
            <a href="company<%= company_name %>
        </li>
    <% }); %>
    </ul>
</body>
</html>